# App Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=solyman100200
DB_PASS=solyman
DB_NAME=solyman_db

APP_NAME="My Universal API"
APP_DESCRIPTION="The best-in-class API documentation"
APP_VERSION="1.0.0"