DATABASE_URL=postgres://solyman100200:solyman@localhost:5432/solyman_db
PORT=3000
NODE_ENV=development
APP_NAME="Application API"
APP_DESCRIPTION="API Documentation"
APP_VERSION="1.0.0"
JWT_SECRET="super_secret_world_class_key_for_solyman"
JWT_EXPIRES_IN="7d"